body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

#sidebar {
  width: 180px;
  background-color: #f4f4f4;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#canvas-container {
  width: 70vw;
  height: calc(70vw * 3 / 4);
}

#sketch-selector {
  display: block;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#sketch-selector:hover {
  background-color: #0056b3;
}

button:hover {
  background-color: #0056b3;
}

#sliders {
  margin-top: 20px;
}

#sliders label, #sliders input {
  display: block;
  margin-bottom: 10px;
}